[user]
	email = tso@teknik.io
	name = tso
[push]
	default = simple
[color]
    ui = true
[core]
    excludesfile = ~/.gitignore
	editor = gvim
	quotepath = false
	pager = diff-so-fancy | less --tabs=4 -RFX
[mergetool "KDiff3"]
	path = C:/Program Files (x86)/KDiff3/kdiff3.exe
	cmd = 'C:/Program Files (x86)/KDiff3/kdiff3.exe' $BASE $LOCAL $REMOTE -o $MERGED
	trustExitCode = false
[merge]
	tool = KDiff3
[mergetool]
	keepBackup = false
[difftool "KDiff3"]
	path = C:/Program Files (x86)/KDiff3/kdiff3.exe
	cmd = 'C:/Program Files (x86)/KDiff3/kdiff3.exe' $LOCAL $REMOTE
