[user]
	name = tso
	email = tso@teknik.io
[push]
	default = simple
[color]
	ui = true
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[core]
    editor = nvim
	quotepath = false
	excludesfile = /home/tso/.gitignore
